extends layout

block content
    h4 #{book.bookName}
    - const ISBN = book.isbn
    img(src="http://images-jp.amazon.com/images/P/"+ISBN+".09.LZZZZZZZ.jpg" alt="books I read" style="width:20rem;")
    p #{book.tag}
    p(style="white-space:pre;") #{book.memo}
    a(href=`/users/${book.createdBy}`) GeekName: #{book.user.username}
    - var isEditable = ( user.id - book.createdBy === 0 )
    div
        if isEditable
            div
                a(href=`/books/${book.postId}/edit`) Edit This Book
    
    div
        a(href=`/users/${book.createdBy}`) Back to Shelf
    div
        a(href='/') Back to the top
    