extends layout

block content
    h3.my-3 Edit Book
    form(method="post", action=`/books/${book.postId}?edit=1`)
        input(type="hidden" name="_csrf" value!=csrfToken)
        div.form-group
            label(for="bookName") Title of the book
            input(type="text" name="bookName" value=book.bookName)#bookName.form-control
        div.form-group
            label(for="tag") tag
            input(type="text" name="tag" value=book.tag)#tag.form-control
        div.form-group
            label(for="memo") Memo
            textarea(name="memo" rows="4")#memo.form-control #{book.memo}
        div.form-group
            button(type="submit").btn.btn-info Save
    h3.my-3 Danger Zone
    form(method="post", action=`/books/${book.postId}?delete=1`)
        input(type="hidden" name="_csrf" value!=csrfToken)
        button(type="submit").btn.btn-danger Delete This Book