extends layout

block content
  div.jumbotron.my-3
    h1.display-4 Geek Show
    p.lead Shear your shelf and review!
  if user
    div
      a(href="/books/new") Shelf a book
    - var hasBook = books.length > 0
    if hasBook
        h3.my-3 Our Shelf
        each book in books
          a(href=`/books/${book.postId}`) #{book.bookName}            
          br
          - const ISBN = book.isbn
          img(src="http://images-jp.amazon.com/images/P/"+ISBN+".09.LZZZZZZZ.jpg" alt="books I read" style="width:20rem;")
          br
          p UserID:
            a(href=`/users/${book.createdBy}`) #{book.createdBy}
          p #{book.formattedUpdatedAt}            
          hr