extends layout

block content
    h2 #{geek.username}
    - const UserName = geek.username
    img(src="https://avatars.githubusercontent.com/"+UserName+"?s=230")
    h3 Profile
    p #{geek.profile}
    h3 GitHub Page
    a(href="https://github.com/"+UserName) https://github.com/#{geek.username}
    - var isEditable = (user.id === geekid)
    div.my-3
        if isEditable
            div
                form(method="get" action=`/users/${geekid}/edit`)
                    button(type="submit").btn.btn-info.btn-sm Edit Profile
    hr
    h3.my-3 Shelf
    - var hasBook = books.length > 0
    if hasBook
        div(style="display: flex;").row
          each book in books
            div.card.col-6.col-md-4.col-lg-3
              - const ISBN = book.isbn
              a(href=`/books/${book.postId}`)
                img.card-img-top(src=ISBN alt="books I read")
              div.card-footer
                p Tag: #{book.tag}
                //a(href=`/books/${book.postId}`).card-title #{book.bookName}
                //br
                //a(href=`/users/${book.createdBy}`) User: #{book.createdBy}
                p.card-text
                small.text-muted #{book.formattedUpdatedAt}  
                if isEditable
                  form(method="get" action=`/books/${book.postId}/edit`)
                      input(type="hidden" name="id" value=book.postId)
                      button(type="submit").btn.btn-info Edit
            hr
    else 
        h3 No books yet